{% extends 'base.html' %}

{% block title %}
    Serije
{% endblock %}


{% block content %}
    <h1 class="podeok">Serije</h1>

    <div class="kontejner">


        <div class="lista">
          {% for qs in queryset %}
              <div class="objekt">
                  <a href="{{ qs.get_absolute_url }}" class="">
                      <img src="{{ qs.image.url }}" alt="{{ qs.title }}" class="slicica">
                  </a>
                  <p>{{ qs.title }}</p>
              </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}